.itemTodo {
	max-width: 100%;
	padding: 5px 0;
	display: flex;
	justify-content: space-between;
	border-bottom: solid 1px #000;
}
.itemTodo__btnDelete {
	cursor: pointer;
	float: right;
	margin-left: 10px;
}
.itemTodo__btnDelete:hover {
	background-color: #cf4550;
}

.itemTodo__blockText {
	align-self: start;
	max-width: calc(100% - 72px);
}
.itemTodo__blockText span {
	margin: 0 5px;
}
.itemTodo__btnRedact {
	cursor: pointer;
	float: right;
	width: 26px;
}
.itemTodo__btnRedact:hover {
	background-color: #000;
}
.categoryItem {
	background-color: rosybrown;
	/* padding: 3px 5px; */
	padding-right: 4px;
	border-radius: 5px;
}
