/* .select:hover {
	background-color: #000;
	color: #fff;
} */
.container {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #f3f3f3;
	width: 100%;
	z-index: 34;
	border: solid 1px black;
}
.item {
	padding: 5px 5px 5px 15px;
	font-size: 18px;
	border-bottom: solid 1px #000;
}
.item:last-child {
	border-bottom: none;
}

.itemSelected {
	background-color: rgb(0, 0, 0, 0.6) !important;
}
.close {
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 33;
}
@media (max-width: 500px) {
	.select {
		width: 100%;
		margin: 10px 0 0 0;
	}
}
