.main {
	padding-bottom: 120px;
	padding-left: 14vw;
	display: flex;
	margin-top: 85px;
}

.container {
	max-width: 840px;
	width: 100%;
}

@media (max-width: 1200px) {
	.main {
		padding-left: 7vw;
		padding-right: 7vw;
	}
}
@media (max-width: 500px) {
	.main {
		margin-top: 79px;
	}
}
@media (max-width: 410px) {
	.main {
		margin-top: 70px;
	}
}
@media (max-width: 320px) {
	.main {
		margin-top: 62.5px;
	}
}
@media (max-width: 1000px) {
	.container {
	}
	.main {
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}
}
