.input {
	background-color: #f3f3f3;
	max-width: 100%;
	color: #333333;
	border-radius: 0;
	font-weight: 400;
	font-size: 18px;
}
/* @media (max-width: 1000px) {
	.input {
		max-width: 60%;
	}
}
@media (max-width: 750px) {
	.input {
		max-width: 50%;
	}
}
@media (max-width: 750px) {
	.input {
		max-width: 40%;
	}
} */
@media (max-width: 500px) {
	/* .input {
		max-width: 100%;
	} */
}
